<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body class="backgroundColor">
<div class="jumbotron">
    <h1 class="display-4 center">Witaj w naszej aplikacji do zarządzania zadaniami!</h1>
    <p class="lead center">Dzięki tej aplikacji zarządzanie twoimi obowiązkami będzie łatwiejsze.</p>
    <hr class="my-4">
    <p></p>
    <a methods="get" href="/lista" class="btn btn-secondary btn-lg btn-block">Wyświetl zadania do zrobienia</a>
    <a methods="get" href="/dodaj" class="btn btn-secondary btn-lg btn-block">Dodaj zadanie</a>
    <a methods="get" href="/archiwum" class="btn btn-secondary btn-lg btn-block">Wyświetl zadania zrealizowane</a>
    <img class="size btn-block"
         src="https://lunares.pl/p/73926/fototapeta-bialy-marmur-elementy-zlota-i-szarosci-tapeta-na-sciane-2.jpg">
</div>
</body>
</html>